#weather-widget {
  color:#fff;
  border-radius: 25px;
  background-color: #222;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 5px 10px 5px;
  position: relative;
}
.techplay-weather-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.techplay-weather-icon.weather {
  height: 160px;
}
.techplay-weather-description, .techplay-weather-temp-range {
  height: 40px;
}
.techplay-weather-icon.weather img {
  width: 160px;
}
.techplay-weather-icon img {
  width: 70px;
}
.techplay-weather-icon.umbrella img {
  height: 30px;
}

.techplay-weather-icon.umbrella, .techplay-weather-icon.temp, .techplay-weather-icon.humidity, .techplay-weather-icon.sunrise {
    font-size: 0.9rem;
	margin-right: 25px;
  justify-content: center;
  height: 40px;
}

.techplay-weather-city {
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}
.techplay-weather-icon.weather {
  margin: 0 auto;
}
.seoultour-weather-forecast {
	width: 100%;
    display: flex;
    font-size: 0.9rem;
    justify-content: space-evenly;
    margin: 0 auto;
}
.seoultour-forecast-day {
    background-color: #333;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    flex: 1 1 0px;
}
.seoultour-forecast-icon img {
  width: 50px;
}
.seoultour-forecast-temp-high, .seoultour-forecast-temp-low {
    font-size: 0.85rem;
}

@media only screen and (max-width: 499px) {
  #weather-widget {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 20px;
  }
  .techplay-weather-icon.weather {
    margin: 0 auto;
  }
  .techplay-weather-icon.weather img {
    width: 120px;
  }
  .techplay-weather-icon img {
    width: 60px;
  }
}
